platform:
  - x64

environment:
  APPVEYOR_SAVE_CACHE_ON_ERROR: true
  MSYSTEM: UCRT64
  CHERE_INVOKING: 1
  PIP_BREAK_SYSTEM_PACKAGES: true
  fop_ver: 2.11
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      TEST_DB: sqlite
      COVERALLS_REPO_TOKEN:
        secure: dFRyBsYhvG/CAVHHXVL8JVuFWRBuB0zGmiH6W+fQUafSmAsIITs7P7mwOl2y2voK
      PATH: C:\msys64\usr\bin;C:\Program Files (x86)\NSIS\Bin;%PATH%
    - APPVEYOR_BUILD_WORKER_IMAGE: macos-sonoma
      TEST_DB: sqlite
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      TEST_DB: MSSQL
      PATH: C:\msys64\usr\bin;%PATH%

skip_tags: true

for:
-
  matrix:
    only:
      - APPVEYOR_BUILD_WORKER_IMAGE: macos-sonoma
        TEST_DB: sqlite

  install:
    - brew ls --full-name --formula | grep '^homebrew/homebrew-cask-versions/' | xargs brew uninstall
    - brew untap homebrew/homebrew-cask-versions
    - brew install python@3.13 pygobject3 gtk+3 adwaita-icon-theme osm-gps-map unixodbc postgresql pillow libproxy gspell
    - brew tap microsoft/mssql-release https://github.com/Microsoft/homebrew-mssql-release
    - brew update
    - HOMEBREW_ACCEPT_EULA=Y brew install msodbcsql18 mssql-tools18

  build_script:
    - python3.13 -m venv --system-site-packages ~/venv3.13
    - . ~/venv3.13/bin/activate
    - pip install '.[ci]'
    - pyinstaller --clean --noconfirm scripts/ghini.spec
    - pip install dmgbuild==1.6.1
    - dmgbuild -s scripts/dmgbuild_settings.py "Ghini" Ghini.dmg   # NOTE: last 2 args are required but overidden in dmgbuild_settings.py

  artifacts:
    - path: dist/Ghini-*-installer.dmg

  test_script:
    - . ~/venv3.13/bin/activate
    - pip install pytest
    - pytest -sv
-
  matrix:
    only:
      - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
        TEST_DB: sqlite

  install:
    - if not exist jre\ choco install openjdk -y
    - bash -lc "uname -a"
    - bash -lc "pacman --noconfirm -Syuu"  # Core update.  see: https://msys2.org/docs/ci/
    - bash -lc "pacman --noconfirm -Syuu"  # Normal update
    - bash -lc "pacman --noconfirm --needed -S - < ./scripts/mingw64_pkglist.txt"
    # TEMP FIX for gspell - enchant
    - bash -lc "mkdir enchant"
    - bash -lc "cd enchant && curl -O https://raw.githubusercontent.com/RoDuth/MINGW-packages/refs/heads/enchant_set_prefix_dir_fix/mingw-w64-enchant/PKGBUILD"
    - bash -lc "cd enchant && makepkg-mingw --cleanbuild --syncdeps --nocheck --force --install --noconfirm"
    - bash -lc "mkdir gspell"
    - bash -lc "cd gspell && curl -O https://raw.githubusercontent.com/RoDuth/MINGW-packages/refs/heads/enchant_set_prefix_dir_fix/mingw-w64-gspell/PKGBUILD"
    - bash -lc "cd gspell && makepkg-mingw --cleanbuild --syncdeps --nocheck --force --install --noconfirm"
    # END
    - bash -lc "python --version"
    - dir %WINDIR%\System32\msodbcsql*.dll
    # wheels cache
    - bash -lc "pip wheel dukpy --wheel-dir wheels --find-links wheels"
    - bash -lc "pip wheel 'SQLAlchemy<2.0' --wheel-dir wheels --find-links wheels"
    - dir wheels

  build_script:
    - bash -lc "pip install '.[ci]' --find-links wheels"
    - bash -lc "python -m PyInstaller --clean --noconfirm scripts/ghini.spec"
    - if not exist jre\ for /f %%i in ('dir "C:\Program Files\OpenJDK\jdk*" /b') do "C:\Program Files"\OpenJDK\%%i\bin\jlink --output jre --add-modules java.base,java.logging,java.desktop,java.xml
    - dir jre
    - if not exist fop-%fop_ver%\ bash -lc "scripts/get_fop.sh"
    - dir fop-%fop_ver%
    - makensis scripts\build.nsi

  artifacts:
    - path: dist/*-setup.exe

  test_script:
    - bash -lc "pip install coveralls"
    - bash -lc "coverage run -m pytest -sv"
    - bash -lc "coverage combine"
    - bash -lc "coverage report"
    - bash -lc "coveralls"
  cache:
    - wheels -> requirements.txt, ci-requirements.txt
    - 'fop-%fop_ver% -> scripts\get_fop.sh'
    - jre -> scripts\get_fop.sh
-
  matrix:
    only:
      - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
        TEST_DB: MSSQL

  init:
    - net start MSSQL$SQL2019

  install:
    - bash -lc "uname -a"
    - bash -lc "pacman --noconfirm -Syuu"  # Core update.  see: https://msys2.org/docs/ci/
    - bash -lc "pacman --noconfirm -Syuu"  # Normal update
    - bash -lc "pacman --noconfirm --needed -S - < ./scripts/mingw64_pkglist.txt"
    - bash -lc "python --version"
    - dir %WINDIR%\System32\msodbcsql*.dll
    # wheels cache
    - bash -lc "pip wheel dukpy --wheel-dir wheels --find-links wheels"
    - bash -lc "pip wheel 'SQLAlchemy<2.0' --wheel-dir wheels --find-links wheels"
    - dir wheels

  build_script:
    - bash -lc "pip install '.[ci]' --find-links wheels"

  test_script:
    - bash -lc "BAUBLE_TEST_DB_URI='mssql://sa:Password12!@localhost:1433/master?driver=ODBC+Driver+17+for+SQL+Server&MARS_Connection=Yes' python -m pytest -sv"
  cache:
    - wheels -> requirements.txt, ci-requirements.txt

deploy:
  provider: GitHub
  on:
    branch: main
  release: 'v1.3.15' # :bump
  description: ''
  auth_token:
    secure: WN5hYGNn81LH1D2ug6kTZflk3Mhym/JIRLegYQtFp/HuRJZwpaXcOb5YF+kfC14r
  draft: false
  prerelease: false
  force_update: true
