[run]
omit = 
    */test*
    */test/*
source = bauble
concurrency = multiprocessing,thread

[report]
exclude_lines = 
    if typing.TYPE_CHECKING:
    if TYPE_CHECKING:
    if main_is_frozen\(\):
    raise NotImplementedError
    pragma: no cover
