# linters, build/test tools, etc.
# NOTE to use:
# for pygobject-stubs may need to use --no-cache-dir e.g.:
# $ pip install --no-cache-dir -r dev-requirements.txt
mypy
pygobject-stubs --config-settings=config=Gtk3,Gdk3,Soup2
types-python-dateutil
sqlalchemy[mypy] < 2.0
Babel
lxml-stubs
types-psycopg2
types-babel
pyparsing[diagrams]
pylint
flake8
pylint-sqlalchemy
black
isort
coverage
pytest
sphinx
pyinstaller
