pyobjc-framework-SystemConfiguration; sys_platform == 'darwin'
SQLAlchemy < 2.0
Pillow; sys_platform != 'darwin'  # use brew installed Pillow on macOS
lxml
mako
pyparsing
pyshp == 2.3.1
pyproj
filelock
python-dateutil
dukpy
